<div class="review">
	<div class="review-child">
	<%= link_to song_review_path(song_id: review.song.id, id: review.id) do %>
		<div>	
			
	       	<% if review.song.cover? %>
        		<%= image_tag review.song.cover, size: "180x180" %>
      		<% else %>
        		<%= image_tag("default-song.jpg", size: "100x100") %>
      		<% end %>
			<h4><strong><%= review.song.title %></strong></h4>
			<p>"<%=review.title%>"</p>
			<p><%= t "app.review.by" %>
				 <strong><%= review.user.name %></strong></p>
			<%= render "shared/song_avg_rate", rate_avg: review.rate_score %> 
			<p style="color:#bebebe">at <%= time_ago_in_words review.updated_at%></p>
		</div>
	<% end %>
	</div>
</div>

