<div class="comment" id="comment-<%= comment.id %>">
  <% if comment.parent %>
    <%= render "shared/user_ava", user: comment.user, type: "micro" %>
  <% else %>
    <%= render "shared/user_ava", user: comment.user, type: "mili" %>
  <% end %>
  <% if current_user.is_owner_of? @review or
      current_user.id == comment.user_id %>
    <div class="edit-form">
      <%= form_for [@review.song, @review, comment],
        remote: true, html: {class: "edit-comment"},
        method: :put do |f| %>
          <%= f.text_field :content, value: comment.content, autofocus: true,
            onfocus: "this.value = this.value;",
            class: "form-textfield" %>
          <%= button_tag type: "submit" do %>
            <%= fa_icon "paper-plane" %>
          <% end %>
            <span class="cancel-edit"><%= t "app.comment.press_esc" %><a>
            <%= t "app.comment.cancel" %></a></span>
      <% end %>
    </div>
    <% end %>
  <div class="comment-content">
    <%= link_to comment.user.name, comment.user,
      class: "user-name" %>
    <p><%= comment.content %></p>
    <div class="config">
      <% if current_user.is_owner_of? @review or
        current_user.id == comment.user_id %>
        <%= fa_icon "pencil-square-o" %>
        <%= link_to song_review_comment_path(
          @review.song, @review, comment),
          method: :delete, remote: true do %>
          <%= fa_icon "trash" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% @comment = comment %>
  <% @like_comment = Like.find_by(user_id: current_user.id, target: comment) %>
  <% unless comment.parent %>
    <div class="reply-time">
      <strong id="like-comment-count">
        <%= pluralize comment.likes.count, t("app.review.like") %>
      </strong>
      <% if @like_comment %>
        <span id = 'like-comment-btn'><%= render "like_comments/unlike" %></span>
      <% else %>
        <span id = 'like-comment-btn'><%= render "like_comments/like" %></span>
      <% end %>
      <div class="time-stamp">
        <%= time_ago_in_words comment.created_at %>
      </div>
      <%= link_to "#", class: "reply-link", data: {type: "view"} do %>
        <%= fa_icon "reply" %> <%= t "app.comment.reply" %>
      <% end %>
    </div>
    <% @comment = Comment.new %>
    <%= form_for @comment,
      url: song_review_comments_path(review_id: @review.id),
      remote: true, html: {class: "new_comment hide-form"},
      method: :post do |f| %>
        <%= f.hidden_field :parent_id, value: comment.id %>
        <%= f.hidden_field :song_id, id: "song_id", value: @review.song.id %>
        <%= f.hidden_field :review_id, id: "review_id", value: @review.id %>
        <%= f.hidden_field :user_id, id: "user_id", value: current_user.id %>
        <%= render "shared/user_ava", user: current_user, type: "micro" %>
        <%= f.text_field :content, placeholder: t("app.comment.reply"),
          class: "form-textfield reply-textfield",
          id: "reply-textbox-#{comment.id}" %>
        <%= button_tag type: "submit" do %>
          <%= fa_icon "paper-plane" %>
        <% end %>
    <% end %>
  <% end %>
</div>
