<% if @comment.parent_id %>
  <% if @still_leaf %>
    $('#comment-<%= @comment.parent_id %>').after('<div class="replies"></div>');
  <% end %>
  $('#comment-<%= @comment.parent_id %>').next('.replies')
    .append('<%= j render "comment",
    comment: @comment, review: @review %>');
  $('#reply-textbox-<%= @comment.parent.id %>').val('');
<% else %>
  $('#comments_list').append('<%= j render "comment",
    comment: @comment, review: @review %>');
  $('#comment-textbox').val('');
<% end %>
$("#comments_list").show();

$('.fa-pencil-square-o').on('click', function(event) {
  var comment_content = $(this).parents('.comment-content');
  var edit_form = $(this).parents('.comment').children('.edit-form');
  comment_content.css('display','none');
  edit_form.css('display','inline-block');
  $(edit_form).find('.form-textfield').keyup(function(e) {
    if (e.keyCode === 27) {
      $(this).val($(this).attr('value'));
      edit_form.css('display','none');
      comment_content.css('display','inline-block');    
    }
  });
  $(edit_form).find('a').on('click',function(e) {
    var inputEditer = $(edit_form).find('.form-textfield')
    inputEditer.val(inputEditer.attr('value'));
    edit_form.css('display','none');
    comment_content.css('display','inline-block'); 
  });
});
