<div class = "singer_show">
  <div class="song_detail">
    <div class="song_content">
      <div class="info-section">
        <div class="song_cover_img">
          <% if @singer.avatar? %>
          <%= image_tag @singer.avatar, size: "130x130" %>
          <% else %>
          <%= image_tag @singer.avatar.default_url("ava-default-male.jpg"),size: "130x130" %>
          <% end %>
        </div>
        <div class="song_info">
          <%= @text ="<h2>#{@singer.name}</h2>".html_safe %>
          <h4><%= t "app.singer.age" %> <%= @singer.age %></h4>
          <h4><%= t "app.singer.gender" %> <%= @singer.gender %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="song_list">
    <div class="title">Song List</div>
    <% if @singer.songs %>
        <% @singer.songs.each do |song| %>
            <div class = "song_box">
              <div class = 'image_cover'>
                <%= image_tag song.cover , size: "100x100" %>
              </div>
              <div class = 'song_info'>
                <h4><%= link_to song.title, url_for(song) %></h4>
                <h5><strong>Category: </strong></strong><%= get_name_categories song.categories %></h5>
                <h5><strong>Rate: </strong>
                  <span>
                    <%= render "shared/song_avg_rate", rate_avg: song.rate_avg %>
						      </span>
                </h5>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>

  <div class="song_list">
    <div class="title">Album List</div>
    <% if @singer.albums %>
        <% @singer.albums.each do |album| %>
            <div class = "song_box">
              <div class = 'image_cover'>
                <%= image_tag album.photo , size: "100x100" %>
              </div>
              <div class = 'song_info'>
                <h4><%= link_to album.title, url_for(album) %></h4>
                <h5><strong>Description: </strong></strong><%= album.description %></h5>
                <h5><strong>Rate: </strong>
                  <% case album.rate_avg.to_i %>
                  <% when 1 %>
                      <%= 'Poor'%>
                  <% when 2 %>
                      <%= 'Fair'%>
                  <% when 3 %>
                      <%= 'Good'%>
                  <% when 4 %>
                      <%= 'Excellent'%>
                  <% when 5 %>
                      <%= 'Perfect'%>
                  <% end %>
                  <span>
							<%= render "shared/song_avg_rate", rate_avg: album.rate_avg %>
						</span>
                </h5>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>