<div class="row content-song">
	<div class="col-md-12">
		<div><%= render 'shared/search_tool' %></div>
	</div>

	<div class="col-sm-9">

		<% if @songs.any? %>
		<%= render @songs %>
		<%= will_paginate @songs, inner_window: 1, outer_window: 2 %>
		<% else %>
		<%= @text ="<h2>#{t("app.song.isnot_available")}</h2>".html_safe %>
		<% end %> 
	</div>
	<div class="col-sm-3 sidenav tab-song" style="float: right;">
	    <div class="title-content" style="background: #fff">
	      <ul class="data-list ">
	        <li class="active">
	        <h4><a href="#"><%= t "app.song.top-ten" %></a></h4>
	        </li>
	      </ul>
	    </div>
		<div class="tabbable-panel" style="height: 700px;">
			<div class="tabbable-line" style="background: #36a45963;">
				<div class="tab">
					<a href="#tab_default_1" data-toggle="tab"><div class="text"><%= t "app.singer.viet_nam" %></div></a>
					<a href="#tab_default_2" data-toggle="tab">
					<div class="text"><%= t "app.singer.ua_uk" %></div></a>
					<a href="#tab_default_3" data-toggle="tab"><div class="text"><%= t "app.singer.japan" %></div></a>
				</div>

				<div class="tab-content">
					<div class="tab-pane active" id="tab_default_1">
						<ul class="list-group">
							<% if @top_ten_vn %>
							<% count = 0 %>
							<% @top_ten_vn.each do |top_vn| %> 

							<li class="list-group-item">
								<div class="info-song">
									<span class="rank fn-order"><%= count = count+1 %></span>
									<h3 class="song-name ellipsis">
										<%= link_to top_vn do %>
									        <%= @text ="#{top_vn.title}".html_safe %>
								      	<% end %>
									</h3>
									<h4 class="singer-name ellipsis"><a href="#">
										<% text = '' %>
										<% if top_vn.singers  %>
										<% top_vn.singers.each do |singer| %>
										<% text = text + singer.name %>
										<% if !singer.equal? top_vn.singers.last %>
										<% text = text + ', ' %>
										<% end %>
										<% end %>
										<%= @text = "#{text}".html_safe %>
										<% end %>
									</a></h4>
								</div>
							</li>
							<% end %>
							<% end %>
						</ul>
					</div>
					<div class="tab-pane" id="tab_default_2">
						<ul class="list-group">
							<% if @top_ten_en %>
							<% count = 0 %>
							<% @top_ten_en.each do |top_en| %> 

							<li class="list-group-item">
								<div class="info-song">
									<span class="rank fn-order"><%= count = count+1 %></span>
									<h3 class="song-name ellipsis">
										<%= link_to top_en do %>
									        <%= @text ="#{top_en.title}".html_safe %>
									    <% end %>
									</h3>
									<h4 class="singer-name ellipsis"><a href="#">
										<% text = '' %>
										<% if top_en.singers  %>
										<% top_en.singers.each do |singer| %>
										<% text = text + singer.name %>
										<% if !singer.equal? top_en.singers.last %>
										<% text = text + ', ' %>
										<% end %>
										<% end %>
										<%= @text = "#{text}".html_safe %>
										<% end %>
									</a></h4>
								</div>
							</li>
							<% end %>
							<% end %>
						</ul>
					</div>
					<div class="tab-pane" id="tab_default_3">
						<ul class="list-group">
							<% if @top_ten_ja %>
							<% count = 0 %>
							<% @top_ten_ja.each do |top_ja| %> 

							<li class="list-group-item">
								<div class="info-song">
									<span class="rank fn-order"><%= count = count + 1 %></span>
									<h3 class="song-name ellipsis">
										<%= link_to top_ja do %>
									        <%= @text ="#{top_ja.title}".html_safe %>
									    <% end %>
									</h3>
									<h4 class="singer-name ellipsis"><a href="#">
										<% text = '' %>
										<% if top_ja.singers  %>
										<% top_ja.singers.each do |singer| %>
										<% text = text + singer.name %>
										<% if !singer.equal? top_ja.singers.last %>
										<% text = text + ', ' %>
										<% end %>
										<% end %>
										<%= @text = "#{text}".html_safe %>
										<% end %>
									</a></h4>
								</div>
							</li>
							<% end %>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
