		<div class="row">
			<div class="large-6 medium-6 small-12 columns" id="amplitude-left">
				<img amplitude-song-info="cover_art_url" amplitude-main-song-info="true"/>
				<div id="player-left-bottom">
					<div id="time-container">
						<span class="current-time">
							<span class="amplitude-current-minutes" amplitude-main-current-minutes="true"></span>:<span class="amplitude-current-seconds" amplitude-main-current-seconds="true"></span>
						</span>
						<input type="range" class="amplitude-song-slider" amplitude-main-song-slider="true" step=".1"/>
						<span class="duration">
							<span class="amplitude-duration-minutes" amplitude-main-duration-minutes="true"></span>:<span class="amplitude-duration-seconds" amplitude-main-duration-seconds="true"></span>
						</span>
					</div>

					<div id="control-container">
						<div id="repeat-container">
							<div class="amplitude-repeat" id="repeat"></div>
						</div>

						<div id="central-control-container">
							<div id="central-controls">
								<div class="amplitude-prev" id="previous"></div>
								<div class="amplitude-play-pause" amplitude-main-play-pause="true" id="play-pause"></div>
								<div class="amplitude-next" id="next"></div>
							</div>
						</div>

						<div id="shuffle-container">
							<div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
						</div>
					</div>

					<div id="meta-container">
						<span amplitude-song-info="name" amplitude-main-song-info="true" class="song-name"></span>

						<div class="song-artist-album">
							<span amplitude-song-info="artist" amplitude-main-song-info="true"></span>
							<span amplitude-song-info="album" amplitude-main-song-info="true"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="large-6 medium-6 small-12 columns" id="amplitude-right" style="max-height: 645px">
				<% if @song.any? %>
				<% @song.each do |s| %>
				<div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="<%= s.id-1 %>">
					<div class="song-now-playing-icon-container">
						<div class="play-button-container">

						</div>
						<img class="now-playing" src="/assets/now-playing.svg"/>
					</div>
					<div class="song-meta-data">
						<span class="song-title"><%= s.title %></span>
						<span class="song-artist"><%= s.author_id %></span>
					</div>
					<%= link_to s do %>
					<%= @text ="<img class='bandcamp-grey' src='/assets/bandcamp-grey.svg'/>
					<img class='bandcamp-white' src='/assets/bandcamp-white.svg'/>".html_safe %>
					<% end %>
					<a href="#" target="_blank">
						
					</a>
					<span class="song-duration"></span>
				</div>
				<% end %>
				<% else %>
				<div class="song amplitude-song-container amplitude-play-pause">
					<div class="song-now-playing-icon-container">
						<div class="play-button-container">
						</div>
						<img class="now-playing" src="/assets/now-playing.svg"/>
					</div>
					<div class="song-meta-data">
						<span class="song-title"></span>
						<span class="song-artist">none</span>
					</div>
					<a href="https://switchstancerecordings.bandcamp.com/track/risin-high-feat-raashan-ahmad" class="bandcamp-link" target="_blank">
						<img class="bandcamp-grey" src="/assets/bandcamp-grey.svg"/>
						<img class="bandcamp-white" src="/assets/bandcamp-white.svg"/>
					</a>
					<span class="amplitude-duration-minutes" amplitude-main-duration-minutes="true"></span>:<span class="amplitude-duration-seconds" amplitude-main-duration-seconds="true"></span>
				</div>
				<% end %>		
			</div>
		</div>