<%= content_tag :li, class: "song_element", data: {temp: data} do%>
	<div class="song_in_category">
		<%= link_to song do %>
			<div class="song_cover_img">
				<% if song.cover? %>
		          	<%= image_tag song.cover, size: "150x150" %>
		        <% else %>
		    	    <%= image_tag("default-song.jpg", :size => "150x150") %>
		        <% end %>
			</div>
			  <div class="song_props">
			    <strong class="song-title"><%= @text ="<p>#{song.title}</p>".html_safe %></strong>
					<div class="song-detail">
            <% text = '' %>
            <% if song.singers  %>
                <% song.singers.each do |singer| %>
                    <% text = text + singer.name %>
                    <% if !singer.equal? song.singers.last %>
                        <% text = text + ', ' %>
                    <% end %>
                <% end %>
                <%= @text = "<p><strong>Singer: </strong>#{text}</p>".html_safe %>
            <% end %>
						<div class="rate">
							<p><%= t "app.song.rate" %>: 
								<%= render "shared/song_avg_rate", rate_avg: song.rate_avg %>
							</p>
						</div>
						<p><%= song.reviews.count %> <%= t "app.song.review_for_this" %></p>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
