<%= content_tag :li, class: "song_element", data: {temp: data} do%>
	<div class="song_in_category">
		<%= link_to song do %>
			<div class="song_cover_img">
			  <%= image_tag("default-song.jpg", :size => "150x150") %>
			</div>
			  <div class="song_props">
			    <strong class="song-title"><%= @text ="<p>#{song.title}</p>".html_safe %></strong>
					<div class="song-detail">
						<% if song.singer %>
				    	<%= @text = "<p><strong></strong>#{song.singer.name}</p>".html_safe %>
						<% end %>
						<div class="rate">
							<p><%= t "app.song.rate" %>: 
								<%= render "shared/song_avg_rate", rate_avg: song.rate_avg %>
							</p>
						</div>
						<p><%= song.reviews.count %> <%= t "app.song.review_for_this" %></p>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
