<div class="category-board">
	<div>
		<div class="title-content">
			<h2><%= t "app.song.category" %>
				<span class="glyphicon glyphicon-menu-right"></span>
			</h2>
		</div>
		<div class="category-content">
			<ul>
				<% if !@categories.nil? %>
					<%= render @categories %>
				<% else %>
					<h3> <%= t "app.category.not_available" %></h3>
				<% end %>
			</ul>
		</div>
	</div>
	<div>
		<div class="title-content">
			<h2><%= t "app.category.most_popular" %><span class="glyphicon glyphicon-menu-right"></span></h2>
		</div>
		<div class="category-content">
			<ul>
				<% if !@popular_categories.nil? %>
					<%= render @popular_categories %>
				<% else %>
					<h3> <%= t "app.category.not_available" %></h3>
				<% end %>
			</ul>
		</div>
	</div>
</div>