<%= render 'shared/search_tool' %>
<div class="container">
	<div class="search">
	<div class="result-title">
		<h2><%=@songs.count%> <%= t "app.song.song_was_found" %></h2>
	</div>
	<div class="result-section">
		<ul class="songs_content_list">
		<% if !@songs.nil? %>
			<% @songs.each do |song| %>
				<%= render "categories/song_overview", song: song, data: 1 %>
			<% end %>
			<%= will_paginate @songs %>
		<% else %>
			<li><h3><%= t "app.song.isnot_available_with_kw" %>
				'<%= params[:keyword]%>'</h3></li>
		<% end %>
		</ul>
	</div>
</div>
</div>