<div class="wrapper">
  <div class="review">
    <div class="brand">
      <div class="info">
        <div class="author">
          <%= @review.song.title %>
        </div>
        <div class="song-name">
          <% if @review.song.singers %>
              <% @review.song.singers.each do |singer| %>
                  <i><%= singer.name %>&nbsp&nbsp&nbsp</i>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="song-cover-pic">
        <% if @review.song.cover? %>
          <%= image_tag @review.song.cover, size: "280x280" %>
        <% else %>
          <%= image_tag @review.song.cover.default_url("default_song.png"),
            size: "280x280" %>
        <% end %>
      </div>
      <div class="song-rate">
        <div class="value">
          <%= @review.rate_score %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 left-block">
        <div class="contributor">
          <%= t "app.review.by" %>
          <strong>
            <%= link_to @review.user.name, @review.user %>
          </strong>
        </div>
        <div class="timestamp">
          <%= time_ago_in_words @review.updated_at %>
        </div>
        <% if user_signed_in? %>
          <% if current_user.is_owner_of? @review %>
            <%= link_to edit_song_review_path(song_id:
              @review.song.id, id: @review.id), class: "link" do %>
                <%= fa_icon "pencil" %>
            <% end %>
            <%= link_to song_review_path(song_id: @review.song.id,
              id: @review.id), class: "link", method: :delete do %>
                <%= fa_icon "trash" %>
            <% end %>
          <% end %>
          <div class="link">
            <% if current_user.bookmark_of_this @review %>
              <div id="bm-btn-<%= @review.id %>" class="bm-btn">
                <%= render "bookmarks/unbookmark",
                  review: @review %>
              </div>
            <% else %>
              <div id="bm-btn-<%= @review.id %>" class="bm-btn">
                <%= render "bookmarks/bookmark",
                  review: @review %>
              </div>
            <% end %>
            <% end %>
        </div>
      </div>
      <div class="col-xs-9 col-xs-push-1 right-block">
        <div class="review-detail">
          <div class="song-des">
            <%= @review.title %>
          </div>
          <% if @review.song.song_url? %>
            <div class="music-player">
              <audio controls>
                <source src="<%= @review.song.song_url %>" type="audio/mp3">
              </audio>
              <div class="song-name">
                "<%= @review.song.title %>" - 
              </div>
            </div>
            <% if @review.song.singers %>
              <div class="singer">
                <%= @review.song.singers.name %>
              </div>
            <% end %>
          <% end %>
          <div class="review-content">
            <%= @review.content.html_safe %>
          </div>
        </div>
        <div class="review-interactive">
          <div class="row">
            <% if @like %>
              <div id="like-btn">
                <%= render "likes/unlike" %>
              </div>
            <% else %>
              <div id="like-btn">
                <%= render "likes/like" %>
              </div>
            <% end %>
            <%= link_to "#", class: "comment-btn interactive-link" do %>
              <%= fa_icon "comment-o" %> <%= t "app.review.comment" %>
            <% end %>
            <%= link_to "#", class: "toggle-comments interactive-link",
              data: {type: "view"} do %>
              <%= fa_icon "eye" %> <%= t "app.review.view_all" %>
            <% end %>
            <div class="button-share-song" style="float:right;">
            <div class="fb-share-button" data-href="<%= request.url %>" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=&redirect_uri=<%= request.original_url %>""><i class="fa fa-facebook" aria-hidden="true"></i> <%= t("share") %></a></div>
          </div>
          </div>
          <div class="row">
            <strong id="like-count">
              <%= pluralize @review.likes.count, t("app.review.like") %>
            </strong>
          </div>
          <div class="row" id="comments_list">
            <% if @comments %>
              <%= comments_tree_for @comments %>
            <% end %>
          </div>
          <% if user_signed_in? %>
          <div class="row">
            <%= form_for @comment, remote: true,
              url: song_review_comments_path(review_id: @review.id) do |f| %>
                <%= render "shared/user_ava", user: current_user, type: "mili" %>
                <%= f.text_field :content, placeholder: t("app.review.write_comment"),
                  id: "comment-textbox", class: "form-textfield" %>
                <%= f.hidden_field :song_id, id: "song_id", value: @review.song.id %>
                <%= f.hidden_field :review_id, id: "review_id", value: @review.id %>
                <%= f.hidden_field :user_id, id: "user_id", value: current_user.id %>
                <%= button_to type: "submit", id: "comment_submit_btn" do %>
                  <%= fa_icon "paper-plane" %>
                <% end %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
