<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">
      <%= fa_icon "music" %> / <%= t "app.home.app_name" %>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? && current_user.admin? %>
        <li><%= link_to t("app.header.dashboard"), rails_admin_path %></li>
      <% end %>
      <li><%= link_to t("app.header.songs"), songs_path, id: is_active?("songs") %></li>
      <li><%= link_to t("app.header.categories"),
        categories_path, id: is_active?("categories") %></li>
      <li class="dropdown language">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" %>
          <%= t "app.shared.language" %><b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to  url_for(locale: "en"), title: t("app.shared.en") do %>
              <img src="http://rikkeisoft.com/wp-content/themes/rikkei/images/common/gb.svg">
              <%= t "app.shared.en" %>
            <% end %>
          </li>
          <li>
            <%= link_to url_for(locale: "jp"), title: t("app.shared.jp") do %>
              <img src="http://en.rikkeisoft.com/wp-content/uploads/2016/03/japan-flag-150x145.png">
              <%= t "app.shared.jp" %>
            <% end %>
          </li>
          <li>
            <%= link_to url_for(locale: "vi"), title: t("app.shared.vi") do %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Vietnam.svg">
              <%= t "app.shared.vi" %>
            <% end %>
          </li>
        </ul>
      </li>
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" %>
            <% if current_user.avatar? %>
              <%= image_tag current_user.avatar.url,
                size: "35x35", class: "img_user" %><b class="caret"></b>
            <% else %>
              <% if current_user.gender == "male" %>
                <%= image_tag current_user.avatar.default_url("ava-default-male.jpg"),
                  size: "35x35", class: "img_user" %><b class="caret"></b>
              <% else %>
                <%= image_tag current_user.avatar.default_url("ava-default-female.png"),
                  size: "35x35", class: "img_user" %><b class="caret"></b>
              <% end %>
            <% end %>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t("app.header.profile"), user_path(id: current_user.id),
              class: "dropdown-menu-item-link" %></li>
            <li class="dropdown-menu-item"><%= link_to t("app.header.settings"),
              edit_user_registration_path, class: "dropdown-menu-item-link" %></li>
            <li class="dropdown-menu-item"><%= link_to t("app.header.logout"),
              destroy_user_session_path, method: :delete, class: "dropdown-menu-item-link" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to t("app.header.login"), new_user_session_path,
          id: is_active?("devise/sessions") %></li>
      <% end %>
    </ul>
  </div>
</nav>
