<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta property="og:title" content="グッドリッスン">
    <meta property="og:site_name" content="ベトナムの第1オンライン音楽ウェブサイト">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://good-music-vietnam.herokuapp.com/">
    <meta property="og:image" content="https://good-music-vietnam.herokuapp.com/listening-to-music.jpg">
    <meta property="og:image:secure_url" content="">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">
    <meta property="og:image:type" content="image/png">
    <meta property="article:published_time" content="1972-06-18T01:23:45Z">
    <meta property="article:section" content="Front page">
    <meta property="article:tag" content="Watergate">
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>

  <body data-locale="<%= I18n.locale %>">
    <%= render "layouts/header" %>
    <% flash.each do |message_type, message| %>
      <div class="toast toast-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
    <div class="container" style="background: #fff">
      <%= yield %>
    </div>
  </body>
</html>
